
body {
  background: rgb(248, 248, 247);
 
}



  header{
    display: flex;
  }

  main {
    display:flex;
    width: 100%;
  }





  .container div {
    display: flex;
    border: 1px #a49f9f solid;
    padding: 10px;
    text-align: center; 
    align-items: center;
    justify-content:space-between;
    justify-content:center; 
    margin: 10px;
    height: 45vh;
    background-color: #e2e3e3fe;
    size:2em;
  } 



.a {
  flex-basis: 100%;
  text-align: center;
}

.b {
  flex:3;
 
}

.c {
  flex:1;
  
}
