body {
background: whitesmoke;
margin:0;
text-align: center;
line-height: 3;

}

h1 {
margin: 5px;;
border: solid rgb(203, 203, 203);
}

.a {
    background-color: rgb(226, 226, 226);
    width: 100%;
}

.b {
    background-color: rgb(226, 226, 226);
    flex:3;
}

.c {
    background-color: rgb(226, 226, 226);
    flex:1;
}

@media (min-width: 600px) {
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
}

